<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
	</head>
	<body>
		<h1>Welcom to Dashboard</h1>
		<%= data.user.email %>
		<form method="post" action="/dashboard/logout">
			<button type="submit">Logout</button>
		</form>
	</body>
</html>
